@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

.video-container video {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
}
.video-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: saturate(0);
  transition: filter .78s ease-in-out;
}
.video-container:hover {
  filter: saturate(1)
}

.svg-1 {
  position: absolute;
  top: 65vh;
  left: 0;
  width: 100vw;
  transform: scaleY(.6);
  z-index: 5;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  height: 100vh;
  transition: all .78s ease-in-out;
  position: absolute;
  background-color: black;
  width: 100vw;
  z-index: 5;
}

.text {
  font-family: "Lexend", sans-serif;
  font-size: 10vw;
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  
  width: 100%;
  color: rgba(255, 255, 255, .2);
  background: linear-gradient(to right, #ffffffb4, #ffffffb4) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  
  border-bottom: 1px solid #2F2B28;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  transform: translateY(0);
  opacity: 1;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s, transform 0.78s ease-out, opacity 0.78s ease-out;
}

.text.in-view {
  transform: translateY(0);
  opacity: 1;
}

.text.out-of-view {
  transform: translateY(200px);
  opacity: 0;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4246ce;
  color: #0D0D0D;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all ease-in-out .6s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span.exit {
  transition: all ease-in-out 0.4s;
}

.text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

a {
  text-decoration: none;
  color: inherit;
}




.section-3 {
  width: 100vw;
  height: 200vh;
  position: absolute;
  top: 150vh;
  background-color: white;
  transition: all .78s ease-in-out;
  transform: translateY(600px);
  opacity: 0;
}

.section-3 > div {
  opacity: 0;
}

.s3-title {
  font-size: 10vw;
  font-family: "Lexend Exa", "Lexend", sans-serif;
  font-weight: 800;
  line-height: 93%;
  position: absolute;
  top: 20vh;
  left: 8.8vw;
}

.s3-sidebio {
  font-family: "Lexend", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  position: absolute;
  top: 85vh;
  max-width: 17vw;
  left: 18.3vw;
}

.s3-bio {
  font-family: "Lexend", sans-serif;
  font-size: 2.1vw;
  font-weight: 400;
  position: absolute;
  top: 84.4vh;
  max-width: 47vw;
  left: 40vw;
}

.s3-vid {
  position: absolute;
  top: 22vh;
  right: 14vw;
}

video {
  opacity: 1 !important;
}

.events {
  width: 100vw;
  height: 150vh;
  top: 250vh;
  position: absolute;
  left: 0;
}


.events-title {
  font-size: 2vw;
  font-family: "Lexend Exa", "Lexend", sans-serif;
  font-weight: 800;
  line-height: 93%;
  position: absolute;
  top: 20vh;
  left: 18.4vw;
  opacity: 0;
}

.evt2 {
  font-family: "Lexend Exa", "Lexend", sans-serif;
  line-height: 93%;
  position: absolute;
  opacity: 0;
  top: 70vh;
  left: calc(18.4vw + .7em);
  font-weight: 800;
  font-size: 1.4vw;
}
.evt2-description {
  font-family: "Lexend Exa", "Lexend", sans-serif;
  line-height: 120% ;
  position: absolute;
  opacity: 0;
  top: 73vh;
  left: calc(18.4vw + 2em);
  font-weight: 200;
  font-size: 1vw;
}
.evt2-container {
  font-family: "Lexend Exa", "Lexend", sans-serif;
  line-height: 120% ;
  position: absolute;
  opacity: 0;
  top: 80vh;
  left: calc(18.4vw + 2em);
  font-weight: 200;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 15px;
  width: 27vw;
  height: 2.6vw;
  font-size: 1vw;
}
.evt2-container input {
  font-family: "Lexend Exa", "Lexend", sans-serif;
  line-height: 120% ;
  position: absolute;
  opacity: 1;
  background-color: transparent;
  width: 70%;
  height: 100%;
  left: 5%;
  position: relative;
  border: none !important;
  outline: none !important;
  font-weight: 200;
  font-size: .8vw;
}
.evt2-container input:focus,
.evt2-container input:active {
  border: none !important;
  outline: none !important;
}
.evt2-btn {
  position: absolute;
  background-color: black;
  width: 22.8%;
  height: 75%;
  right: 1%;
  border-radius: 15px;
  top: 12.5%;
  color: white;
  transition: opacity .78s ease-in-out;
  opacity: 0;
}

.evt2-btn p {
  position: absolute;
  font-size: .8em;
  top: -20%;
  left: calc(50% - 0.8em);
    transform: scale(1);
  transition: transform .78s;
}

.evt2-btn:hover {
  cursor: pointer;
  opacity: .7 !important;
}

.evt2-btn:hover p {
  transform: scale(1.2);
}




.events-container {
  position: absolute;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  left: calc(18.4vw - 1em);
  opacity: 0;
  top: 26vh;
}

.events-container div {
  width: 22vw;
  height: 20vw;
  margin: 1em;
  transform: scale(.9);
  filter: grayscale(1);
  transition: filter .42s ease-in-out, transform 2s cubic-bezier(.13,.49,0,1.01);
}

.events-container div:hover {
  transform: scale(1);
  filter: grayscale(0);
}

.events-container div:hover img {
  filter: blur(30px);
}

.events-container div img {
  width: 22vw;
  height: 20vw;
  filter: blur(0px);
  transition: filter .42s ease-in-out;
}

.events-container div canvas {
  z-index: 1000;
  position: absolute;
  width: 22vw !important;
  height: 20vw !important;
}

.svg-2 {
  position: absolute;
  top: 326vh;
  left: 0;
  width: 100vw;
  transform: scaleY(.6);
  pointer-events: none;
}


.faq {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 350vh;
}

.faq-title {
  font-size: 2vw;
  font-family: "Lexend Exa", "Lexend", sans-serif;
  font-weight: 800;
  line-height: 93%;
  position: absolute;
  top: 20vh;
  color: white;
  left: 18.4vw;
  opacity: 0;
}
.faq-item {
  width: 14vw;
  height: 14vw;
  background-color: rgb(255, 255, 255);
  margin: 1vw;
}

.faq-item:hover {
  z-index: 10;
}

.faq-item:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.faq-item img {
  width: 14vw;
  height: 14vw;
  filter: grayscale(1);
  transform: scale(1);
  transition: filter .42s ease-in-out, transform 2s cubic-bezier(.13,.49,0,1.01);
}
.faq-container {
  position: absolute;
  top: 24vh;
  left: 20vw;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(56vw + 4*2vw);
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.row-1, .row-2, .faq-title {
  transform: translateY(200px);
  opacity: 0;
}

.footer {
  bottom: 0;
    position: absolute;
    width: 100vw;
    height: 43vh;
    background-color: white;
}

.footer-title {
  font-size: 1.3vw;
  font-family: "Lexend", "Lexend", sans-serif;
  font-weight: 800;
  line-height: 93%;
  position: absolute;
  color: black;
  opacity: 1;
  top: 3vh;
}

.ft1 {
  left: 3vw;
}

.ft2 {
  right: 30vw;
}
.ft3 {
  right: 5vw;
}

.footer-contact {
  width: 10vw;
  position: absolute;
  top: 10vh;
  right: 25.5vw
}

.footer-socials {
  width: 10vw;
  position: absolute;
  top: 10vh;
  right: 4.1vw
}


@media (max-width: 1000px) {
  #myVideo {
    width: unset;
  }

  .svg-1 {
    display: none;
  }

  .text {
    font-size: 25vw;
  }

  span {
    display: none;
  }

  .section-3  {
    height: 265vh;
  }

  .s3-vid {
    top: 10vh;
    right: 2vw;
    left: 13vw;
  }

  .s3-bio {
    display: none;
  }

  .s3-title {
    top: 35vh;
  }

  .s3-sidebio {
    left: 10vw;
    font-size: 7vw;
    top: 52vh;
    max-width: 80vw;
  }

  .events-title {
    top: 0;
    font-size: 8vw;
    left: 8.8vw;
  }

  .events-container {
    top: 8vh;
    left: 0;
  }
  .events-container div {
    width: 90vw;
    height: 90vw;
  }
  .events-container div img {
    width: 90vw;
    height: 90vw;
  }

  .events-container div canvas {
    width: 90vw !important;
    height: 90vw !important;
  }

  body, #root {
    height: 700vh !important;
}

.svg-2 {
  display: none;
}

.evt2 {
  top: 145vh;
  font-size: 4vw;
  left: 10vw;
}

.evt2-description {
  top: 147.5vh;
  font-size: 3vw;
  max-width: 90vw;
  left: 10vw;
}

.evt2-container {
  top: 152vh;
  left: 10vw;
  width: 80vw;
  height: 6vw;
  font-size: 3vw;
}

.evt2-container input {
  font-size: 2.6vw;
}

.evt2-btn p {
top: -37%;
}

.faq {
  top: 400vh;
  pointer-events: none;
}

.faq-title {
  font-size: 10vw;
  top: 18vh;
}
.faq-container {
  top: 26vh;
}
.faq-item {
  width: 90vw;
  pointer-events: all;
  height: 60vw !important;
}

.faq-item img {
  width: 100%;
  height: 100%;
}

.footer-title {
  font-size: 4vw;
  left: 5vw;
}

.ft1 {
  font-size: 7vw;
  top: 2.5vw;
}

.ft2 {
  top: 10vh;
}

.ft3 {
  top: 30vh;
}

.footer-contact {
  top: 16vh;
  width: 50vw;
  left: 5vw;
}

.footer-socials {
  width: 40vw;
  top: 35vh;
  left: 5vw;
}

}


@media (max-width: 700px) and (min-height: 0px) and (max-height: 900px) {


  .evt2 {
    top: 150vh;
  }
  
  .evt2-description {
    top: 152.5vh;
  }
  
  .evt2-container {
    top: 157vh;
  }

  .events-container {
    left: 5vw;
  }

  .events-container div {
    width: 90vw;
    height: calc(70vw + 13.5vh);
    margin: 0;
  }
  .events-container div img {
    width: 90vw;
    height: calc(70vw +  13.5vh );
  }

  .events-container div canvas {
    width: 90vw !important;
    height: calc(70vw + 13.5vh) !important;
  }


  body, #root {
    height: calc(475vh + 8*60vw + 8*2vw) !important;
}

}

.header {
  width: 100vw;
  height: 10vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .47s ease-in-out;
}

.header p {
  font-family: "Just Me Again Down Here", sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: -25%;
  left: 5vw;
}

.btn-container {
  width: 6vw;
  height: 4.5vh;
  background-color: white;
  position: absolute;
  right: 5vw;
  top: 28%;
  border-radius: 50px;
  transition: background-color .46s ease-in-out;
}

.btn-container:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

.btn-container p {
  font-family: "Lexend Exa", "Lexend", sans-serif;
  font-size: .7vw;
  color: black;
  position: absolute;
  top: 0;
  left: 15%;
}

.btn-container div {
  position: absolute;
  right: 15%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  top: calc(50% - 5px);
}
.header-bg {
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;

}

.Preloader {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index:32132131232;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 1.5s cubic-bezier(.13,.49,0,1.01);
}

.Preloader img {
  width: 40px;
  height: 40px;
  filter: invert(1);
  position: absolute;
  top: calc(50% - 0.5*40px);
  left: calc(50% - 0.5*40px);
  opacity: 0;
  transition: opacity .78s ease-in-out, transform 1.5s cubic-bezier(.13,.49,0,1.01);
}